node-red/flows.json
[
    {
        "id": "773261dc17be4159",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eb2e9fe90b94f8d7",
        "type": "group",
        "z": "773261dc17be4159",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "41b050e85c8d46a5",
            "688c164e33767abb",
            "ad8323d64675d124",
            "18943261b79b853c"
        ],
        "x": 54,
        "y": 239,
        "w": 852,
        "h": 142
    },
    {
        "id": "4b689c68c68459ea",
        "type": "group",
        "z": "773261dc17be4159",
        "name": "Home",
        "style": {
            "label": true
        },
        "nodes": [
            "dbefa0b848848572",
            "41553b315e94c225",
            "a6609f61cf3dcc0f",
            "b7209c72847a2a23",
            "97fd84e017fa61fb",
            "3b03150baca07ca3",
            "0535270adc3c442c"
        ],
        "x": 54,
        "y": 499,
        "w": 1032,
        "h": 242
    },
    {
        "id": "7e87597a3d263e0f",
        "type": "group",
        "z": "773261dc17be4159",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "8e08344642c8d609",
            "4e23e690f2926273",
            "74c175a24a037aaa"
        ],
        "x": 94,
        "y": 919,
        "w": 572,
        "h": 82
    },
    {
        "id": "b0327be6a442ef45",
        "type": "group",
        "z": "773261dc17be4159",
        "name": "User Management",
        "style": {
            "label": true
        },
        "nodes": [
            "3b8688b1bf41badc",
            "0a29662dccd26a5a",
            "dd1bb987fdc97a54"
        ],
        "x": 8,
        "y": 1073,
        "w": 844,
        "h": 794
    },
    {
        "id": "3b8688b1bf41badc",
        "type": "group",
        "z": "773261dc17be4159",
        "g": "b0327be6a442ef45",
        "name": "Registration",
        "style": {
            "label": true
        },
        "nodes": [
            "559f7547d52ec5ed",
            "0ebb027e0e058519",
            "35ca0b3fc020511b",
            "513bea74db70e272",
            "db469854062ddc99"
        ],
        "x": 154,
        "y": 1099,
        "w": 632,
        "h": 162
    },
    {
        "id": "0a29662dccd26a5a",
        "type": "group",
        "z": "773261dc17be4159",
        "g": "b0327be6a442ef45",
        "name": "Update",
        "style": {
            "label": true
        },
        "nodes": [
            "d65eede7bc3c9a94",
            "a2a9d0a28d17db7e",
            "2deaa84a5ff363ef",
            "bb82a52a9bd1854f",
            "7c0ae81a22bb31ad",
            "a7768f4e99535f97",
            "155b0b99cb853333"
        ],
        "x": 94,
        "y": 1359,
        "w": 702,
        "h": 222
    },
    {
        "id": "dd1bb987fdc97a54",
        "type": "group",
        "z": "773261dc17be4159",
        "g": "b0327be6a442ef45",
        "name": "Delete User",
        "style": {
            "label": true
        },
        "nodes": [
            "de3d49b13fa73dd5",
            "4615a5448954948c",
            "62d7bcf7577b51c8",
            "38c9227c0f43f836",
            "7f91c41d00a18d49",
            "a0bae244d80baacc",
            "b92831739c49d2c7",
            "83b1c8cf36afc50a"
        ],
        "x": 34,
        "y": 1619,
        "w": 792,
        "h": 222
    },
    {
        "id": "4acca394181b4570",
        "type": "inject",
        "z": "773261dc17be4159",
        "name": "Prueba1",
        "props": [
            {
                "p": "valor",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "3de0a7281e4441af"
            ]
        ]
    },
    {
        "id": "56c6d19587172efd",
        "type": "debug",
        "z": "773261dc17be4159",
        "name": "salida de peticion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "3de0a7281e4441af",
        "type": "http request",
        "z": "773261dc17be4159",
        "name": "peticion a catalog",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/user/{{{valor}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 120,
        "wires": [
            [
                "56c6d19587172efd"
            ]
        ]
    },
    {
        "id": "41b050e85c8d46a5",
        "type": "debug",
        "z": "773261dc17be4159",
        "g": "eb2e9fe90b94f8d7",
        "name": "salida de peticion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 340,
        "wires": []
    },
    {
        "id": "688c164e33767abb",
        "type": "http request",
        "z": "773261dc17be4159",
        "g": "eb2e9fe90b94f8d7",
        "name": "peticion a catalog",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/user/{{{valor}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 340,
        "wires": [
            [
                "41b050e85c8d46a5"
            ]
        ]
    },
    {
        "id": "ad8323d64675d124",
        "type": "ui_text_input",
        "z": "773261dc17be4159",
        "g": "eb2e9fe90b94f8d7",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "121241d7b0e5f69e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "{{{valor2}}}",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "18943261b79b853c"
            ]
        ]
    },
    {
        "id": "18943261b79b853c",
        "type": "ui_button",
        "z": "773261dc17be4159",
        "g": "eb2e9fe90b94f8d7",
        "name": "",
        "group": "121241d7b0e5f69e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{{{valor2}}}",
        "payloadType": "str",
        "topic": "{{{valor}}}",
        "topicType": "msg",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "688c164e33767abb"
            ]
        ]
    },
    {
        "id": "dbefa0b848848572",
        "type": "change",
        "z": "773261dc17be4159",
        "g": "4b689c68c68459ea",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "valor",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 540,
        "wires": [
            [
                "a6609f61cf3dcc0f"
            ]
        ]
    },
    {
        "id": "41553b315e94c225",
        "type": "debug",
        "z": "773261dc17be4159",
        "g": "4b689c68c68459ea",
        "name": "salida de peticion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 540,
        "wires": []
    },
    {
        "id": "a6609f61cf3dcc0f",
        "type": "http request",
        "z": "773261dc17be4159",
        "g": "4b689c68c68459ea",
        "name": "peticion a catalog",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/user/{{{valor}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 540,
        "wires": [
            [
                "41553b315e94c225",
                "97fd84e017fa61fb",
                "3b03150baca07ca3",
                "0535270adc3c442c"
            ]
        ]
    },
    {
        "id": "b7209c72847a2a23",
        "type": "ui_text_input",
        "z": "773261dc17be4159",
        "g": "4b689c68c68459ea",
        "name": "",
        "label": "Write here",
        "tooltip": "",
        "group": "438c976e67bf879c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "dbefa0b848848572"
            ]
        ]
    },
    {
        "id": "1d66fedb356b8017",
        "type": "ui_text_input",
        "z": "773261dc17be4159",
        "name": "",
        "label": "Write here 2",
        "tooltip": "",
        "group": "31f9a55b9152e32b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "valor",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 350,
        "y": 780,
        "wires": [
            [
                "a62b3410fc93c9a7"
            ]
        ]
    },
    {
        "id": "a62b3410fc93c9a7",
        "type": "debug",
        "z": "773261dc17be4159",
        "name": "salida de peticion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "8e08344642c8d609",
        "type": "ui_form",
        "z": "773261dc17be4159",
        "g": "7e87597a3d263e0f",
        "name": "",
        "label": "",
        "group": "b6ec54b8a0a4c436",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "userID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Park ride ID",
                "value": "parkRideID",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "userID": "",
            "parkRideID": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 170,
        "y": 960,
        "wires": [
            [
                "74c175a24a037aaa"
            ]
        ]
    },
    {
        "id": "4e23e690f2926273",
        "type": "debug",
        "z": "773261dc17be4159",
        "g": "7e87597a3d263e0f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 960,
        "wires": []
    },
    {
        "id": "74c175a24a037aaa",
        "type": "http request",
        "z": "773261dc17be4159",
        "g": "7e87597a3d263e0f",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/parkride",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 960,
        "wires": [
            [
                "4e23e690f2926273"
            ]
        ]
    },
    {
        "id": "35ca0b3fc020511b",
        "type": "ui_form",
        "z": "773261dc17be4159",
        "g": "3b8688b1bf41badc",
        "name": "",
        "label": "",
        "group": "00cb24640bce1b3d",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "userID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Username",
                "value": "userName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Email address",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "City",
                "value": "city",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "userID": "",
            "userName": "",
            "password": "",
            "email": "",
            "city": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 230,
        "y": 1140,
        "wires": [
            [
                "559f7547d52ec5ed",
                "db469854062ddc99"
            ]
        ]
    },
    {
        "id": "559f7547d52ec5ed",
        "type": "http request",
        "z": "773261dc17be4159",
        "g": "3b8688b1bf41badc",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/user",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 1140,
        "wires": [
            [
                "0ebb027e0e058519",
                "513bea74db70e272"
            ]
        ]
    },
    {
        "id": "0ebb027e0e058519",
        "type": "debug",
        "z": "773261dc17be4159",
        "g": "3b8688b1bf41badc",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1140,
        "wires": []
    },
    {
        "id": "513bea74db70e272",
        "type": "ui_text",
        "z": "773261dc17be4159",
        "g": "3b8688b1bf41badc",
        "group": "00cb24640bce1b3d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 1200,
        "wires": []
    },
    {
        "id": "d65eede7bc3c9a94",
        "type": "ui_text",
        "z": "773261dc17be4159",
        "g": "0a29662dccd26a5a",
        "group": "637c60ebb63c7d10",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 1480,
        "wires": []
    },
    {
        "id": "a2a9d0a28d17db7e",
        "type": "http request",
        "z": "773261dc17be4159",
        "g": "0a29662dccd26a5a",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/user",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 1420,
        "wires": [
            [
                "d65eede7bc3c9a94",
                "2deaa84a5ff363ef"
            ]
        ]
    },
    {
        "id": "2deaa84a5ff363ef",
        "type": "debug",
        "z": "773261dc17be4159",
        "g": "0a29662dccd26a5a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1420,
        "wires": []
    },
    {
        "id": "bb82a52a9bd1854f",
        "type": "ui_text",
        "z": "773261dc17be4159",
        "g": "0a29662dccd26a5a",
        "group": "637c60ebb63c7d10",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Please fill all the fields you want to update",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "22",
        "color": "#000000",
        "x": 400,
        "y": 1540,
        "wires": []
    },
    {
        "id": "db469854062ddc99",
        "type": "ui_text",
        "z": "773261dc17be4159",
        "g": "3b8688b1bf41badc",
        "group": "00cb24640bce1b3d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Please fill all the fields in order to register a new user",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "22",
        "color": "#000000",
        "x": 400,
        "y": 1220,
        "wires": []
    },
    {
        "id": "97fd84e017fa61fb",
        "type": "ui_text",
        "z": "773261dc17be4159",
        "g": "4b689c68c68459ea",
        "group": "ba191f8ddc595c61",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "User name:",
        "format": "{{msg.payload.userName}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 620,
        "wires": []
    },
    {
        "id": "3b03150baca07ca3",
        "type": "ui_text",
        "z": "773261dc17be4159",
        "g": "4b689c68c68459ea",
        "group": "ba191f8ddc595c61",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Email:",
        "format": "{{msg.payload.email}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 660,
        "wires": []
    },
    {
        "id": "0535270adc3c442c",
        "type": "ui_text",
        "z": "773261dc17be4159",
        "g": "4b689c68c68459ea",
        "group": "ba191f8ddc595c61",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "City:",
        "format": "{{msg.payload.city}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 700,
        "wires": []
    },
    {
        "id": "7c0ae81a22bb31ad",
        "type": "ui_form",
        "z": "773261dc17be4159",
        "g": "0a29662dccd26a5a",
        "name": "",
        "label": "",
        "group": "637c60ebb63c7d10",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "userName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Email address",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "City",
                "value": "city",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "userName": "",
            "email": "",
            "city": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 170,
        "y": 1400,
        "wires": [
            [
                "155b0b99cb853333"
            ]
        ]
    },
    {
        "id": "8ccddb9a.a55f38",
        "type": "inject",
        "z": "773261dc17be4159",
        "name": "temperature",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "10",
        "payloadType": "num",
        "x": 210,
        "y": 2000,
        "wires": [
            [
                "47b769c5.cb0e28"
            ]
        ]
    },
    {
        "id": "47b769c5.cb0e28",
        "type": "join",
        "z": "773261dc17be4159",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 410,
        "y": 2040,
        "wires": [
            [
                "f9afb265.b11b7"
            ]
        ]
    },
    {
        "id": "f9afb265.b11b7",
        "type": "debug",
        "z": "773261dc17be4159",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 2040,
        "wires": []
    },
    {
        "id": "2d269127.4f04ce",
        "type": "inject",
        "z": "773261dc17be4159",
        "name": "humidity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "humidity",
        "payload": "",
        "payloadType": "num",
        "x": 200,
        "y": 2040,
        "wires": [
            [
                "47b769c5.cb0e28"
            ]
        ]
    },
    {
        "id": "d6fbe805.0e4628",
        "type": "inject",
        "z": "773261dc17be4159",
        "name": "pressure",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pressure",
        "payload": "999",
        "payloadType": "num",
        "x": 200,
        "y": 2080,
        "wires": [
            [
                "47b769c5.cb0e28"
            ]
        ]
    },
    {
        "id": "a73be9ce4b99c5f0",
        "type": "ui_form",
        "z": "773261dc17be4159",
        "name": "",
        "label": "",
        "group": "bf5f087db0e926fa",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "name",
                "value": "userName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "email",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "city",
                "value": "city",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "userName": "",
            "email": "",
            "city": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 210,
        "y": 2280,
        "wires": [
            [
                "2b33f6427f9a3da9"
            ]
        ]
    },
    {
        "id": "2b33f6427f9a3da9",
        "type": "join",
        "z": "773261dc17be4159",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 2220,
        "wires": [
            [
                "a1d0652aa0201e0b"
            ]
        ]
    },
    {
        "id": "a1d0652aa0201e0b",
        "type": "debug",
        "z": "773261dc17be4159",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 2220,
        "wires": []
    },
    {
        "id": "53ab2cfb31a6bd50",
        "type": "ui_form",
        "z": "773261dc17be4159",
        "name": "",
        "label": "",
        "group": "bf5f087db0e926fa",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "user ID",
                "value": "userID",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "userID": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 210,
        "y": 2200,
        "wires": [
            [
                "2b33f6427f9a3da9"
            ]
        ]
    },
    {
        "id": "a7768f4e99535f97",
        "type": "ui_form",
        "z": "773261dc17be4159",
        "g": "0a29662dccd26a5a",
        "name": "",
        "label": "",
        "group": "637c60ebb63c7d10",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "USER ID",
                "value": "userID",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "userID": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 170,
        "y": 1460,
        "wires": [
            [
                "155b0b99cb853333",
                "bb82a52a9bd1854f"
            ]
        ]
    },
    {
        "id": "155b0b99cb853333",
        "type": "join",
        "z": "773261dc17be4159",
        "g": "0a29662dccd26a5a",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 330,
        "y": 1440,
        "wires": [
            [
                "a2a9d0a28d17db7e"
            ]
        ]
    },
    {
        "id": "de3d49b13fa73dd5",
        "type": "debug",
        "z": "773261dc17be4159",
        "g": "dd1bb987fdc97a54",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1660,
        "wires": []
    },
    {
        "id": "4615a5448954948c",
        "type": "ui_text",
        "z": "773261dc17be4159",
        "g": "dd1bb987fdc97a54",
        "group": "dd2556f40ca25ee7",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 1720,
        "wires": []
    },
    {
        "id": "62d7bcf7577b51c8",
        "type": "http request",
        "z": "773261dc17be4159",
        "g": "dd1bb987fdc97a54",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/user/?userID={{{valor}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 1660,
        "wires": [
            [
                "de3d49b13fa73dd5",
                "4615a5448954948c"
            ]
        ]
    },
    {
        "id": "38c9227c0f43f836",
        "type": "ui_text",
        "z": "773261dc17be4159",
        "g": "dd1bb987fdc97a54",
        "group": "dd2556f40ca25ee7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Please enter the ID of the user you want to remove",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "22",
        "color": "#000000",
        "x": 390,
        "y": 1800,
        "wires": []
    },
    {
        "id": "e95c6faa.ab2e1",
        "type": "http request",
        "z": "773261dc17be4159",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://query.yahooapis.com/v1/public/yql?q={{{query}}}&format=json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 2460,
        "wires": [
            [
                "7cf30700.5bc978"
            ]
        ]
    },
    {
        "id": "7cf30700.5bc978",
        "type": "debug",
        "z": "773261dc17be4159",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 690,
        "y": 2460,
        "wires": []
    },
    {
        "id": "637d3c55.eb3084",
        "type": "inject",
        "z": "773261dc17be4159",
        "name": "query parameter",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "select astronomy.sunset from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"maui, hi\")",
        "payloadType": "str",
        "x": 180,
        "y": 2460,
        "wires": [
            [
                "b001d489.d8f818"
            ]
        ]
    },
    {
        "id": "b001d489.d8f818",
        "type": "change",
        "z": "773261dc17be4159",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2460,
        "wires": [
            [
                "e95c6faa.ab2e1"
            ]
        ]
    },
    {
        "id": "7f91c41d00a18d49",
        "type": "debug",
        "z": "773261dc17be4159",
        "g": "dd1bb987fdc97a54",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 1740,
        "wires": []
    },
    {
        "id": "a0bae244d80baacc",
        "type": "ui_form",
        "z": "773261dc17be4159",
        "g": "dd1bb987fdc97a54",
        "name": "",
        "label": "",
        "group": "dd2556f40ca25ee7",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User Name",
                "value": "valor",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "valor": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 110,
        "y": 1660,
        "wires": [
            [
                "7f91c41d00a18d49",
                "38c9227c0f43f836",
                "b92831739c49d2c7"
            ]
        ]
    },
    {
        "id": "b92831739c49d2c7",
        "type": "change",
        "z": "773261dc17be4159",
        "g": "dd1bb987fdc97a54",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.valor",
                "pt": "msg",
                "to": "valor",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1660,
        "wires": [
            [
                "83b1c8cf36afc50a",
                "62d7bcf7577b51c8"
            ]
        ]
    },
    {
        "id": "83b1c8cf36afc50a",
        "type": "debug",
        "z": "773261dc17be4159",
        "g": "dd1bb987fdc97a54",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1720,
        "wires": []
    },
    {
        "id": "121241d7b0e5f69e",
        "type": "ui_group",
        "name": "prueba1",
        "tab": "f2ad7f44b833f25f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "438c976e67bf879c",
        "type": "ui_group",
        "name": "User ID",
        "tab": "5e5e170497bf7594",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "31f9a55b9152e32b",
        "type": "ui_group",
        "name": "prueba2",
        "tab": "468508906b6edeef",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b6ec54b8a0a4c436",
        "type": "ui_group",
        "name": "Formulario",
        "tab": "a581598c0c470867",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "00cb24640bce1b3d",
        "type": "ui_group",
        "name": "Registration",
        "tab": "e316f46317bbfb56",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "637c60ebb63c7d10",
        "type": "ui_group",
        "name": "Update",
        "tab": "e316f46317bbfb56",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ba191f8ddc595c61",
        "type": "ui_group",
        "name": "User Information",
        "tab": "5e5e170497bf7594",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bf5f087db0e926fa",
        "type": "ui_group",
        "name": "Prueba8",
        "tab": "b58f83dea9ac8e59",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd2556f40ca25ee7",
        "type": "ui_group",
        "name": "Delete",
        "tab": "e316f46317bbfb56",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2ad7f44b833f25f",
        "type": "ui_tab",
        "name": "prueba1",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5e5e170497bf7594",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "468508906b6edeef",
        "type": "ui_tab",
        "name": "prueba2",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a581598c0c470867",
        "type": "ui_tab",
        "name": "Formulario",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e316f46317bbfb56",
        "type": "ui_tab",
        "name": "User Management",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b58f83dea9ac8e59",
        "type": "ui_tab",
        "name": "Prueba8",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]